canvas {
	width: 100%;
}

/* Pink #e76482 */
body {
  margin: 0px auto;
  font-family: "Montserrat", sans-serif;
}

#fb-btn {
    text-align: center;
}

#fb {
  display: none;
}

#card {
  background: url('https://s3.amazonaws.com/techx-assets/hackmit/tintedphoto_1920_1080_low.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
}

#card > .container {
  position: relative;
  top: 50%;

  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

#card > .container > .content {
  width: 400px;
  margin: 0 auto;
}

#card .segment {
  padding: 0;
  border-width: 0;
  overflow: hidden;
}

#loading {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;

  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  transition-duration: .5s;
  opacity: 1;
}

#loading.hidden {
  opacity: 0;
}

#pic-container {
  position: relative;
}

#profile-pic {
  opacity: 1;
  transition-duration: 1s;
  width: 100%;
}

#profile-pic.hidden {
  opacity: 0;
}

#pic-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#text {
  padding: 16px;
  text-align: center;
}

#title, #subtitle {
  font-family: 'Montserrat', 'Helvetica', sans-serif;
  letter-spacing: 5.5px;
  text-align: center;
  color: #252C37;
}

#placeholder {
  height: 400px;
  width: 400px;
  position: absolute;
}

#title {
  font-weight: 700;
  font-size: 2.5em;
  margin: 24px 0 18px;
}

#subtitle {
  font-size: 1.5em;
  letter-spacing: 5.5px;
  margin-bottom: 20px;
}

#text p {
  font-weight: 300;
  padding: 4px;
  font-size: 1.25em;
  margin-bottom: 0;
  color: #515B6B;
}

#info {
  margin-bottom: 12px;
}

#load-buttons {
  margin-bottom: 15px;
}

.ui.button {
	background: #FF585D;
	border: none;
	color: white !important;
	font-size: 1.2em;
	padding: 12px 24px;
}

.ui.button:hover {
  background-color: #ff7a7a;
}

.ui.button:active {
  background-color: #F8B1B1;
}

.ui.button.blue {
	background: #4c82cc;
}

#capture-buttons a {
  display: none;
}

#timer {
  position: absolute;
  left: calc(50% - 50px);
  top: calc(50% - 50px);

  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  background-color: rgba(37, 44, 55, .75);
  box-shadow: 0px 0px 10px 2px rgba(81, 91, 107, .75);
}

#timer {
  display: none;
}

#timer h1 {
  text-align: center;
  margin-top: calc(100px/2 - 58px/2);
  font-size: 45px;
  color: rgba(255, 255, 255, 1);
}